# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular data science tools
- List popular data science languages
- List commonly used data science libraries
- Understand basics of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. plotly
4. ggplot

| Data Science Tools |
| -------------------|
| Jupyter |
| RStudio |
| Apache Zeppelin |
| Apache Spark |

### Below are a few examples of evaluating arithetic expressions in Python:

In [3]:
# This is a simple arithetic expression to multiply the add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
total_minutes = 200
hour = 60
total_hours = total_minutes/hour
print(total_hours)

3.3333333333333335

## Author
Paul Pierce Jr.